<h1><%= @restaurant.name %></h1>
<h4><%= @restaurant.category %></h4>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<hr>
<%=link_to "Write a Review ✍🏻", new_restaurant_review_path(@restaurant) %>
<h3>Reviews ⭐️</h3>
<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%=review.rating %></p>
<% end %>
